* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #333;
    color: burlywood;
    font-family: Arial, sans-serif;
    /* min-height: 100vh; */
    overflow-x: hidden; 
  }
  
.card{
  width: 300px;
  height: 500px;
}

.card-title{
  color:#888;
}


  .back-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}


.movie-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  /* overflow-y: scroll; */
  height: 80vh;
  margin: 2px auto;
  padding: 20px 25px 20px;
  overflow-x: hidden;
}


/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
