* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #444;
    padding: 20px;
}

body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.top-container {
    max-width: 1100px;
    margin: -20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

strong{
    color: #dc3545;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343a40;
    color: #fff;
    height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.back-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
}

.left-side {
    width: 30%;
    text-align: center;
    margin-right: 20px;
}

#poster {
    width: 80%;
}

.right-side {
    width: 70%;
    text-align: left;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p{
    margin-top: 8px;
}

  
 @media (max-width: 780px) {
   .content{
    flex-direction: column;

   }

   .left-side {
    width: 60%;}

    .right-side{
        margin-left: 20%;
    }

    h1{

        font-size: 28px;
    }


  } 